@charset "UTF-8";

/*==========================
footer active
============================*/
footer .left-box .txt-group {
    display: block;
}

footer .left-box .m-txt-group {
    display: none;
}

footer .left-box .m-txt-group .txt-box.active .txt-list {
    display: block;
}

footer .left-box .m-txt-group {
    width: 100%;
}

footer .left-box .m-txt-group .txt-box {
    margin-bottom: 20px;
}

footer .left-box .m-txt-group .txt-box>a {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

footer .left-box .m-txt-group .txt-box a>span {
    color: #fff;
    display: inline-block;
    margin-left: auto;
}

footer .left-box .m-txt-group .txt-list>a {
    display: none;
}

footer .left-box .m-txt-group .txt-box a>p {
    display: inline-block;
}

footer .left-box .m-txt-group .txt-box a>span {
    display: none;
}

/*==========================
header
============================*/
header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 24px 32px;
    margin-bottom: 64px;
}

nav {
    display: flex;
}

nav a {
    font-size: 16px;
    line-height: normal;
    letter-spacing: 0.1px;
    font-weight: 500;
    margin-right: 24px;
}


/*==========================
공통 container
============================*/
.container {
    max-width: 1108px;
    padding-left: 16px;
    padding-right: 16px;
    margin: auto;
}

.btn-antion {
    background: #000;
    color: #fff;
    border-radius: 32px;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.1px;
    font-weight: 700;
    padding: 12px 24px;
}

/*==========================
main + 
section01
============================*/
.section01 .top-box {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 64px;
}

.section01 .top-box .left-box .txt-box h3 {
    font-size: 56px;
    line-height: 1.4;
    letter-spacing: -1px;
    font-weight: 900;
    margin-bottom: 24px;
}

.section01 .top-box .left-box .txt-box p {
    font-size: 18px;
    line-height: 1.4;
    font-weight: 400;
    margin-bottom: 40px;
    word-break: keep-all;
}

.section01 .top-box .left-box {
    margin-right: 60px;
}

.section01 .top-box .left-box .btn-box {
    display: flex;
    align-items: center;
}

.section01 .top-box .left-box .btn-box p {
    font-size: 14px;
    line-height: 1.4;
    font-weight: 600;
}

.section01 .top-box .left-box .btn-box .btn-antion {
    margin-right: 20px;
}


/*==========================
section02
============================*/
.section02 {
    background: #F3F3F3;
}

.section02 .article-group {
    display: flex;
    padding: 64px 0;
}

.section02 .article-group .article-box .tit-box {
    display: flex;
    align-items: center;
    margin-bottom: 16px;
}

.section02 .article-group .article-box .tit-box img {
    margin-right: 16px;
}

.section02 .article-group .article-box .tit-box h6 {
    font-size: 18px;
    line-height: 1.6px;
    font-weight: 700;
}

.section02 .article-group .article-box>p {
    font-size: 16px;
    line-height: 1.6;
    letter-spacing: 0.1px;
    font-weight: 400;
}

.section02 .article-group .article-box:not(:last-child) {
    margin-right: 30px;
}


/*==========================
section03
============================*/
.section03 {
    background: #000;
}

.section03 .top-box {
    padding: 96px 0;
}

.section03 .top-box .img-box {
    display: flex;
    align-items: center;
    color: #fff;
}

.section03 .top-box .img-box img {
    margin-right: 133px;
}

.section03 .top-box .img-box .txt-box h5 {
    font-size: 24px;
    line-height: 1.4;
    letter-spacing: 0.1px;
    font-weight: 900;
    margin-bottom: 16px;
}

.section03 .top-box .img-box .txt-box p {
    font-size: 16px;
    line-height: 1.4;
    letter-spacing: 0.1px;
    font-weight: 400;
    margin-bottom: 16px;
}

.section03 .top-box .img-box .txt-box .list-box {
    font-size: 16px;
    line-height: 1.4;
    letter-spacing: 0.1px;
    font-weight: 400;
}

.section03 .top-box .img-box .txt-box .list-box li {
    position: relative;
    padding-left: 16px;
}

.section03 .top-box .img-box .txt-box .list-box li::before {
    content: '';
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    width: 4px;
    height: 4px;
    border-radius: 50%;
    background: #fff;
}

.section03 .top-box .img-box .txt-box .list-box li:not(:last-child) {
    margin-bottom: 8px;
}



/*==========================
section04
============================*/
.section04 {
    padding: 96px 0;
}

.section04 .user-group {
    display: flex;
}

.section04 .user-group .article-box {
    padding: 24px;
    border-radius: 8px;
    background: #F3F3F3;
}

.section04 .user-group .article-box:not(:last-child) {
    margin-right: 30px;
}

.section04 .user-group .article-box>p {
    font-size: 18px;
    line-height: 1.6;
    font-weight: 400;
    margin-bottom: 56px;
}

.section04 .user-group .article-box .user-box {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

.section04 .user-group .article-box .user-box .info-box>img {
    margin-bottom: 16px;
}

.section04 .user-group .article-box .user-box .txt-box h6 {
    font-size: 18px;
    line-height: 1.4;
    letter-spacing: 0.1px;
    font-weight: 700;
    margin-bottom: 4px;
}

.section04 .user-group .article-box .user-box .txt-box p {
    font-size: 14px;
    line-height: 1.2;
    font-weight: 400;
}

.section04 .user-group .article-box .user-box .sns-box {
    display: flex;
    align-items: flex-end;
}

.section04 .user-group .article-box .user-box .sns-box a:nth-child(1) img {
    margin-right: 16px;
}



/*==========================
section05
============================*/
.section05 {
    background-image: url(../img/img-space.png);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    padding: 192px 0;
    text-align: center;
    color: #fff;
}

.section05 p {
    font-size: 16px;
    line-height: 1.4;
    letter-spacing: 0.1px;
    font-weight: 500;
    margin-bottom: 12px;
}

.section05 h3 {
    font-size: 40px;
    line-height: 1.4;
    letter-spacing: 0.5px;
    font-weight: 900;
    margin-bottom: 32px;
}

.section05 button {
    font-size: 16px;
    line-height: 1.4;
    letter-spacing: 0.1px;
    font-weight: 700;
    background: #fff;
    border-radius: 24px;
    padding: 8px 16px;
}



/*==========================
footer
============================*/
footer {
    background: #000;
    padding: 96px 0;
}

footer .container {
    display: flex;
}

footer p {
    color: #fff;
}

footer .left-box {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    width: calc(100% - 360px);
}

footer .left-box .img-box {
    margin-right: 94px;
}

footer .left-box .txt-group {
    width: 100%;
    display: flex;
    flex-direction: row;
}

footer .left-box .txt-group .txt-box {
    width: calc(100% / 3 - 15px);
    margin-right: 34px;
}

footer .left-box .txt-group .txt-box>a {
    font-size: 16px;
    line-height: 1.4;
    letter-spacing: 0.1px;
    font-weight: 700;
    margin-bottom: 16px;
}

footer .left-box .txt-group .txt-list>a>p {
    font-size: 14px;
    line-height: 1.2;
    font-weight: 400;
}

footer .left-box .txt-group .txt-list>a:not(:last-child) {
    margin-bottom: 8px;
}

footer .right-box {
    width: 360px;
}

footer .right-box .sand-group h6 {
    font-size: 16px;
    line-height: 1.6;
    letter-spacing: 0.1px;
    font-weight: 700;
    margin-bottom: 16px;
    color: #fff;
}

footer .right-box .sand-group .sand-box {
    display: flex;
    background-color: #ffffff15;
    border-radius: 40px;
    padding: 12px 24px;
    margin-bottom: 20px;
}

footer .right-box .sand-group .sand-box input {
    width: calc(100% - 24px);
    color: #fff;
    outline: none;
}

footer .right-box .sand-group .sand-box input::placeholder {
    font-size: 16px;
    line-height: 1.6;
    letter-spacing: 0.1px;
    font-weight: 400;
    color: #fff;
    border-radius: 40px;
    opacity: 0.5;
}

footer .right-box .sand-group>p {
    font-size: 14px;
    line-height: 1.4;
    font-weight: 400;
    opacity: 0.4;
}


/*==========================
반응형
============================*/
@media all and (max-width:1024px) {
    .section01 .top-box .left-box .txt-box h3 {
        font-size: 60px;
    }

    .section01 .top-box .left-box {
        margin-right: 0;
    }

    .section01 .top-box {
        display: flex;
        flex-direction: column;
        text-align: center;
        margin-bottom: 32px;
    }

    .section01 .top-box .left-box {
        width: 55%;
        margin-right: 0;
        margin-bottom: 62px;
    }

    .section01 .top-box .left-box .btn-box {
        justify-content: center;
    }

    .section01 .top-box .right-box {
        width: 100%;
    }

    .section01 .top-box .right-box img {
        width: 100%;
        object-fit: contain;
    }

    .section01 .top-box .left-box .btn-box p {
        text-align: left;
    }

    .section02 .article-group .article-box>p {
        text-overflow: ellipsis;
        overflow: hidden;
        word-break: break-word;
        display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
        font-size: 16px;
    }

    .section03 .top-box {
        padding: 32px 0;
    }

    .section03 .top-box .img-box {
        display: flex;
        flex-direction: column;
        text-align: center;
        width: 100%;
    }

    .section03 .top-box .img-box img {
        width: 100%;
        margin-bottom: 64px;
        margin-right: 0;
    }

    .section03 .top-box .img-box .txt-box {
        display: flex;
        flex-direction: row;
    }

    .section03 .top-box .img-box .txt-box h5 {
        width: 50%;
        text-align: left;
        margin-right: 64px;
    }

    .section03 .top-box .img-box .txt-box2 {
        text-align: left;
    }

    .section04 .user-group .article-box>p {
        text-overflow: ellipsis;
        overflow: hidden;
        word-break: break-word;
        display: -webkit-box;
        -webkit-line-clamp: 3;
        -webkit-box-orient: vertical
    }

    footer .left-box {
        display: flex;
        flex-direction: column;
    }

    footer .left-box .img-box {
        margin-bottom: 48px;
    }

    footer .right-box .sand-group {
        margin-top: 72px;
    }
}

@media(max-width:768px) {
    header nav {
        display: none;
    }

    .section01 .top-box .left-box {
        width: 80%;
    }

    .section02 .article-group .article-box>p {
        text-overflow: ellipsis;
        overflow: hidden;
        word-break: break-word;
        display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
        font-size: 16px;
    }

    .section02 .article-group {
        display: flex;
        flex-direction: column;
    }

    .section02 .article-group .article-box {
        text-align: center;
    }

    .section02 .article-group .article-box .tit-box {
        justify-content: center;
    }

    .section02 .article-group .article-box:not(:last-child) {
        margin-bottom: 50px;
        margin-right: 0;
    }

    .section03 .top-box .img-box .txt-box h5 {
        font-size: 18px;
        font-weight: 600;
    }

    .section03 .top-box .img-box .txt-box2 p,
    .section03 .top-box .img-box .txt-box2 ul li {
        font-size: 14px;
    }

    .section04 .user-group .article-box:first-child {
        display: none;
    }

    footer .container {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 0 60px;
    }

    footer .left-box,
    footer .right-box {
        width: 100%;
    }

    footer .left-box .img-box {
        margin-bottom: 20px;
    }

    footer .left-box .txt-group .txt-box:last-child {
        margin-right: 0;
    }
}

/* 디바이스별 해상도 분기점을 생각했기 때문에. */
@media(max-width:400px) {

    .section01 .top-box .left-box .txt-box h3 {
        font-size: 40px;
        width: 90%;
        margin: auto;
        margin-bottom: 30px;
    }

    .section01 .top-box .left-box .txt-box p {
        width: 70%;
        margin: auto;
        margin-bottom: 30px;
    }

    .section01 .top-box .left-box {
        width: 100%;
    }

    .section01 .top-box .left-box .txt-box p {
        font-size: 12px;
    }

    .section01 .top-box .left-box .btn-box p {
        text-align: left;
        font-size: 10px;
    }

    .section02 .article-group .article-box:last-child {
        display: block;
    }

    .section02 .article-group .article-box>p {
        font-size: 14px;
    }

    .section03 .top-box .img-box .txt-box {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 0 20px;
    }

    .section03 .top-box .img-box .txt-box h5 {
        width: 100%;
        margin-right: 0;
        margin-bottom: 30px;
        text-align: center;
    }

    .section03 .top-box .img-box .txt-box p {
        font-size: 13px;
    }

    .section04 .user-group {
        display: flex;
        flex-direction: column;
    }

    .section04 .user-group .article-box:first-child {
        display: block;
    }

    .section04 .user-group .article-box:not(:last-child) {
        margin-right: 0;
        margin-bottom: 30px;
    }

    .section04 .user-group .article-box>p {
        text-overflow: ellipsis;
        overflow: hidden;
        word-break: break-word;
        display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
        font-size: 16px;
    }

    .section05 h3 {
        width: 90%;
        margin: auto;
        font-size: 22px;
        margin-bottom: 20px;
    }

    footer .left-box .txt-group {
        display: flex;
        flex-direction: column;
    }

    footer .left-box .txt-group {
        display: none;
    }

    footer .left-box .m-txt-group {
        display: block;
    }

    footer .left-box .m-txt-group .txt-box a>span {
        display: block;
    }

    footer .left-box .m-txt-group .txt-box>a:not(:last-child) {
        margin-bottom: 10px;
    }

    footer .left-box .m-txt-group .txt-box a>p {
        margin-bottom: 2px;
    }

    footer .left-box .m-txt-group .txt-box .m-txt-list a>p {
        font-size: 12px;
    }


}